html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: unset;
    padding: unset;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;
}

button {
    font-size: 2rem;
}

label {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #cccccc;
    }

    button {
        background: #000000;
        color: #cccccc;
    }

    input {
        background: #000000;
        color: #cccccc;
    }
}